
<br>

<% if current_user.id.to_s == params[:id].to_s%>
    <%= link_to "Edit User", edit_user_registration_path %>
<% end %>
<div class="row">
    <div class="col circle-profile-image">
        <img src="<%=@user.profile_url%>" alt="">
    </div>

    <div class="col">
        <h1>Username: <%=@user.username%></h1>
    </div>

    <div class="col">
        <h1>city: <%=@user.city%></h1>
    </div>

    <div class="col">
        <h1>E-mail: <%=@user.email%></h1>
    </div>

    <h1>Sports of interest:
      <ul>
        <% @user.sports.each do |sport| %>
          <li><%=sport.name %></li>
        <% end %>
      </ul>
    </h1>
</div>

